*.pyc
*.png
*.ipynb
*.th
*.pdf
results/
.github/workflows
*.icloud
potentially_useless
input_data/hedge_inputs*
outputs/*
!outputs/opt_res
outputs/opt_res/*
!outputs/opt_res/batch_test.npy
!outputs/opt_res/res_test.npy
!outputs/opt_res/factors_test.npy
!outputs/opt_res/clusters_test.npy
.gitignore.swp
