*.pyc
*.png
*.ipynb
*.th
*.pdf
src/post_analysis/plot_time_performance_layers.py
results/
*.icloud
potentially_useless
input_data/hedge_inputs*
outputs/*
!outputs/opt_res
outputs/opt_res/*
outputs/opt_res/batch_test*
!outputs/opt_res/res_test*
!outputs/opt_res/factors_test*
!outputs/opt_res/clusters_test*
!outputs/opt_res_v2
outputs/opt_res_v2/*
!outputs/opt_res_v2/batch_test*
!outputs/opt_res_v2/res_test*
!outputs/opt_res_v2/factors_test*
!outputs/opt_res_v2/clusters_test*
.gitignore.swp
*.DS_Store
src/post_analysis/plot_time_performance_layers.py
out_rl_*
