*.pyc
*.png
*.ipynb
*.th
*.pdf
results/
*.icloud
input_data/hedge_inputs*
*European_LV_CSV*
outputs/*
.gitignore.swp
*.DS_Store
out_rl_*
out_marl_*
debug/*
input_data/open_data/European_LV_CSV/*
config_files/input_parameters/previous_defaults.yaml
local_files/*
input_data/old_hedge_inputs*
input_data/open_data/upper_bound0.npy
input_data/open_data/lower_bound0.npy
